footer a {
    color: #aaa;
}

.paper-notes {
    color: #d28445;
    font-weight: bold;
}

.paper-my-name {
    font-weight: bold;
}

.paper-title {
    font-style: italic;
}

nav {
 font-weight: bold;
 display: flex;
 justify-content: space-evenly;
}

ul {
  margin-left: 20px;
}

ul li {
  padding-left: 0px;
}

.time-span {
   font-weight: normal;
   font-size: 14px;
   color: #6d6d6d;
   padding-left: 0.5em;
}

header h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}