footer a {
    color: #aaa;
}

.paper-notes {
    color: #d28445;
    font-weight: bold;
}

.paper-my-name {
    font-weight: bold;
}

.paper-title {
    font-style: italic;
}

nav {
 font-weight: bold;
}