---
---

@import "{{ site.theme }}";

h1 {
    font-size: 20px;
}

h3, h4 {
    margin-bottom: 0.3em;
}

nav {
    font-size: 18px;
}

.footnotes {
    font-size: x-small;
}

header {
    text-align: right;
}
  
sup {
    font-size: x-small;
    vertical-align: super;
}

.paper-notes {
    color: #159957;
    font-weight: normal;
}

.paper-my-name {
    font-weight: bold;
}

.paper-title {
    font-style: italic;
}

.time-span {
    font-weight: normal;
    font-size: 0.8em;
    color: #606c71;
    padding-left: 0.5em;
 }

footer {
    font-size: small;
}
