---
---

@import "{{ site.theme }}";

nav {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 700px;
    margin: auto;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #d0d0d0;
}
h2, h3, h4 {
    margin: 0;
}

.main-content {
    font-size: 1em;
}

.main-content h3, .main-content h4 {
    margin: 0.25rem;
}

.main-content h3 {
    font-weight: bold;
}
.main-content h3 a, .main-content h4 a {
    color: #159957;
}

.project-name {
    font-size: 2rem;
}

.page-header {
    padding: 1rem;
}

nav a {
    color: #d0d0d0;
}

.footnotes {
    font-size: x-small;
}
  
sup {
    font-size: x-small;
    vertical-align: super;
}

.paper-notes {
    color: #159957;
    font-weight: normal;
}

.paper-my-name {
    font-weight: bold;
}

.paper-title {
    font-style: italic;
}

.time-span {
    font-weight: normal;
    font-size: 0.8em;
    color: #606c71;
    padding-left: 0.5em;
 }

footer {
    width: 100%;
    text-align: center;
    font-size: x-small;
    padding: 2em;
}

.two-columns {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content {
    padding-bottom: 0em;
}